{% extends 'base.html.twig' %}

{% block title %}Lista de cuentas{% endblock %}

{% block body %}

    <h1>Lista de cuentas</h1>

    {% if accounts | length > 0 %}
        <ul>
            {% for account in accounts %}
                <li><a href="{{ path('account', {'reference': account.reference}) }}">{{ account.reference }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
